# Module 1

## Types

In [1]:
type(6 / 2)

float

In [2]:
type(6 // 2)

int

In [3]:
type("Hello, World!")

str

In [4]:
type("hello" == "world")

bool

In [5]:
int("1001")

1001

In [6]:
float(1234.56)

1234.56

In [7]:
str("123-246-7890")

'123-246-7890'

## Variables

In [8]:
x = 3 + 2 * 2
x

7

In [9]:
y = (3 + 2) * 2
y

10

In [10]:
z = x + y
z

17

## Strings

In [11]:
a = "1"
a

'1'

In [12]:
b = "2"
b

'2'

In [13]:
c = a + b
c

'12'

In [14]:
d = "ABCDEFG"
print(d[:3])

ABC

In [15]:
e = "clocrkr1e1c1t"
print(e[::2])

correct

In [16]:
print(r"\\")  # or print("\\\\")
# Raw string cannot contain a single '\'

\\

In [17]:
f = "You are wrong"
f.upper()

'YOU ARE WRONG'

In [18]:
f2 = "YOU ARE RIGHT"
f2.lower()

'you are right'

In [19]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"  # '\' is a continuation character
g

'Mary had a little lamb Little lamb, little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go'

In [20]:
g.find("snow")

95

In [21]:
g.replace("Mary", "Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [22]:
g.replace(",", ".")

'Mary had a little lamb Little lamb. little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went. Mary went Everywhere that Mary went The lamb was sure to go'

In [23]:
g.split()

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']

In [24]:
s3 = "House Number - 1105"
s3

'House Number - 1105'

In [25]:
import re

result = re.search(r"\d", s3)

if result:
    print("Digit found.")
else:
    print("Digit not found")

Digit found.

In [26]:
str1 = "The quick brown fox jumps over the lazy dog."
str1

'The quick brown fox jumps over the lazy dog.'

In [27]:
new_str1 = re.sub(r"fox", "bear", str1)
print(new_str1)

The quick brown bear jumps over the lazy dog.

In [28]:
str2 = "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"
str2

'How much wood would a woodchuck chuck, if a woodchuck could chuck wood?'

In [29]:
matches = re.findall(r"woo", str2)
print(matches)

['woo', 'woo', 'woo', 'woo']